# Yarn
yarn.lock

# Derived js files
qortal-ui-plugins/plugins/**/*.js
!*.src.js
!qortal-ui-plugins/plugins/core/components/*.js
!qortal-ui-plugins/plugins/utils/*.js
!qortal-ui-crypto/**/*.js

# Node modules
node_modules/

# Mac .DS_Store files
.DS_Store

# Build script related
watch.pid
